html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  padding-bottom: 1.8em;
}

body {
  text-align: center;
  margin: 0;
  width: 100%;
  background-color: #eee9de;
}

h2 {
  padding: .2em 0;
}

div {
  display: inline-block;
  max-width: 25em;
  text-align: left;
  vertical-align: middle;
}

img {
  width: 100%;
  margin-top: .75em;
  padding: 2em 1em .2em;
  display: block;
}

p {
  max-width: 25em;
  width: 100%;
  display: inline-block;
  margin: 0 0 1.5em;
}

a {
  text-align: center;
  display: inline-block;
  border-radius: .4em;
  border: 3px solid #333;
  border-width: .2em;
  text-decoration: none;
  padding: .5em .75em;
  font-size: 1.2em;
  font-family: Lato, sans-serif;
  color: #333;
}

a:hover {
  background-color: #666;
  color: #eee9de;
  border: 3px solid #666;
}

.btn {
  text-align: left;
  margin-bottom: 1em;
  max-width: 25em;
}

.body {
  padding: .5em 1em;
}
